.navbar {
  padding: 0 2rem 0 1.75rem;
  background: #073795;
  display: flex;
  height: 3.4375rem;
  align-items: center;
  justify-content: space-between;

  &-logo-link {
    height: 2.5rem;
    color: #ffffff;
    text-decoration: none;
  }

  &-nav-links {
    display: flex;
    gap: 1.5rem;
  }

  &-nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
