/* -------------------------------------- */
/* 1. CSS Reset: Universal Box Sizing     */
/* -------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box; /* Makes padding and borders included in the element's total width and height */
  margin: 0;
  padding: 0;
  font-family: Roboto,sans-serif;
}